<div id="menus" ng-controller="NavCtrl">
	<div id="submenu" class="{{submenu}}">
		<div class="submenu-heading">
			Workspaces
		</div>

		<form ng-submit="addWspace()" class="new-wspace-form">
			<input ng-model="wspaceName" placeholder="+ Add workspace" type="text" class="form-control" />
		</form>

		<div class="elements">
			<div ng-repeat="wspace in wspaces">
				<div class="submenu-element">
					<a class="wspace-open" href="#/wspaces/{{wspace.id}}" ng-show="wspace.user_id == user.id" ng-click="showMenu()">
						<i class="glyphicon glyphicon-wrench"></i>
					</a>
					<a href="" class="wspace-change" ng-click="changeWspace(wspace.id)">
						{{wspace.title}}
					</a>

				</div>
			</div>
		</div>
	</div>
	<div id="right-menu">

		<div class="menu-heading">
			<a href="#/home"> <img src="/assets/logo.png"> </a>
		</div>

		<div id="project-menu" ng-show="signedIn()">
			<div class="projects-title">
				{{curWspace.title}}

				<a href="#" ng-click="showMenu()">
					<div class="create-project pull-right">
						<i class="glyphicon glyphicon-chevron-{{anchor}}"></i>
					</div>
				</a>
			</div>
			<div class="projects">
				<div ng-repeat="project in projects | orderBy: '-priority'">
					<a href="#/projects/{{project.id}}">
					<div class="project" >
						<span class="priority-circle priority-{{project.priority}}" ng-click="changePriority(project)"></span>
						{{project.title}}
						<span ng-show="project.team" class="team-name"> {{teams[project.team].title}} </span>
					</div>
					</a>
				</div>
			</div>

			<form ng-submit="addProject()" class="new-project-form">
				<input ng-model="projectName" placeholder="Add project" type="text" class="form-control" />
				<!-- <br /> -->
				<!-- <button class="btn btn-primary">Add Project</button> -->
			</form>
		</div>

		<div class="wspace-users" ng-show="signedIn()">
			<div class="users-head">Workspace users</div>

			<div ng-repeat="user in curWspace.users | limitTo: 3" class="user">
				<a href="">
					<img class="user-image" src="http://www.gravatar.com/avatar/{{md5(user.email)}}">
					<div class="user-name">
						{{user.username}}
						<div class="user-email">
							{{user.email}}
						</div>
					</div>
				</a>
			</div>
		</div>

		<div id="login-menu" ng-hide="signedIn()">
			<a href="#/login" class="login">
				<i class="glyphicon glyphicon-log-in"></i>
			</a>
			<a href="#/register" class="register">
				<i class="glyphicon glyphicon-user"></i>
			</a>
		</div>

		<div id="logout-menu" ng-show="signedIn()">
			<a href="#" ng-click="logout()">
				<i class="glyphicon glyphicon-log-out"></i>
			</a>
		</div>
	</div>	
</div>
