/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

html * {
	font-family: 'Open Sans';
}

#right-menu {
	top: 0;
	left: 0;
	position: fixed;
	height: 100%;
	color: #FFF;
	background-color: #181818;
	width: 200px;
	z-index: 8;
}
#submenu {
	width: 200px;
	position: fixed;
	border-right: 1px solid #888;
	box-shadow: 0 0 5px #000;
	z-index: 4;
	height: 100%;
	background-color: #EEE;
	left: 0px;
	top: 0;
}
#submenu .new-wspace-form {
	border-top: 1px solid #666;
	padding: 10px 0;
	background-color: #282828;
	border-bottom: 1px solid #666;
}
#submenu .new-wspace-form input {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	color: #FFF;
}
#submenu.submenu-show {
	left: 200px;
	-webkit-animation: submenu-animation-show .3s;
	animation: submenu-animation-show .3s;
}
@keyframes submenu-animation-show {
    from {left: 0;}
    to {left: 200px;}
}
@-webkit-keyframes submenu-animation-show {
    from {left: 0;}
    to {left: 200px;}
}

#submenu.submenu-hide {
	left: 0;
	-webkit-animation: submenu-animation-hide .3s;
	animation: submenu-animation-hide .3s;
}
@keyframes submenu-animation-hide {
    from {left: 200px;}
    to {left: 0px;}
}
@-webkit-keyframes submenu-animation-hide {
    from {left: 200px;}
    to {left: 0px;}
}

#submenu .submenu-heading {
	background-color: rgba(0, 0, 0, .6);
	border-bottom: 1px solid #333;
	width: 100%;
	height: 40px;
	color: #FFF;
	text-shadow: 0 1px 0 #000;
	text-align: center;
	font-weight: lighter;
	line-height: 40px;
}
#submenu .elements {
	margin-bottom: 20px;
}
#submenu .submenu-element {
	position: relative;
}
#submenu .submenu-element a {
	height: 30px;
	line-height: 30px;
}
#submenu .submenu-element a.wspace-open {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, .1);
	color: #000;
}
#submenu .submenu-element a.wspace-change {
	display: block;
	color: #333;
	padding: 0 10px;
}
#submenu .submenu-element a:hover {
	text-decoration: none;
	background-color: #448ccb;
	color: #FFF;
}
#right-menu .menu-heading {
	background-color: #181818;
	width: 100%;
	height: 80px;
	text-align: center;
}
#right-menu .menu-heading img {
	max-width: 80%;
}

#right-menu .projects-title {
	background-color: #448ccb;
	text-shadow: 0 1px 0 #000;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: lighter;
	position: relative;
	height: 35px;
}
#right-menu .projects-title .create-project {
	position: absolute;
	background-color: rgba(0, 0, 0, .3);
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #FFF;
	top: 0;
	right: 0;
}
#right-menu .new-project-form { margin: 0 20px; }
#right-menu .new-project-form input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #DDD;
	outline: none;
	box-shadow: none;
}
#right-menu .projects .project {
	padding: 10px 10px;
}
#right-menu .projects a {
	color: #FFF;
}
#right-menu .projects a:hover {
	text-decoration: none;
}

#right-menu .projects .project:hover {
	background-color: #282828;
}
#right-menu .projects .project .team-name {
	font-size: 12px;
	color: #999;
}

.wspace-users .users-head {
	margin: 20px 0;
	padding: 0 10px;
	font-weight: 200;
}
.wspace-users .user {
	margin: 0 10px;
	margin-bottom: 20px;
}
.wspace-users .user a:hover {
	text-decoration: none;
}
.wspace-users .user .user-image{
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.wspace-users .remove-user {
	display: inline-block;
	height: 30px;
	width: 30px;
	color: #FFF;
	float: right;
	background-color: #ed1c24;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	margin-top: 5px;
}
.wspace-users .user .user-name{
	margin-left: 60px;
	color: #FFF;
	font-size: 18px;
}
.wspace-users .user .user-name.user-name-black{
	color: #111;
}
.wspace-users .user .user-email{
	font-size: 12px;
	font-weight: 200;
	color: #777;
}

#contents {
	margin-left: 200px;
	min-height: 100%;
	position: relative;
}
.gray-bg {
	background-color: #eee;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
#contents .hero {
	height: 300px;
	background: url(/assets/hero-bg.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#contents .hero .account-info {
	background-color: rgba(0, 0, 0, .8);
	padding: 20px;
	margin-top: 50px;
	color: #fff;
	height: 190px;
}
#contents .hero .account-info h1 {
	margin-top: 0;
}
#contents .hero .account-info img {
	margin: 0 10px 0 0;
	border-radius: 50%;
}
.btn, .form-control {
	border-radius: 0;
}

.priority-circle {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 1px;
	margin-right: 8px;
}
.priority-circle.priority-1 { background-color: #448ccb; }
.priority-circle.priority-2 { background-color: #00a651; }
.priority-circle.priority-3 { background-color: #f26522; }
.priority-circle.priority-4 { background-color: #ed1c24; }


.project-header {
	height: 80px;
	background-color: #EEE;
	border-bottom: 1px solid #DDD;
	color: #777;
	line-height: 80px;
	padding: 0 10px;
	font-size: 28px;
}

.task-input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	outline: none;
	height: 30px;
	margin-bottom: 15px;
}

#login-menu, #logout-menu {
	position: absolute; 
	bottom: 0;
	left: 0;
	width: 200px;
	background-color: #eee;
	height: 40px;
	line-height: 45px;
	font-size: 0;
}
#login-menu a {
	font-size: 18px;
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	height: 40px;
}

#logout-menu a {
	font-size: 18px;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #FFF;
	background-color: #ed1c24;
	text-shadow: 0 -1px 0 #000;
	height: 40px;
}

.custom-header {
	line-height: 80px;
	height: 80px;
	background-color: #fff;
	margin-bottom: 30px;
	border-bottom: #DDD;
	box-shadow: 0 0 3px #ddd;
}

#login-menu a:hover, #logout-menu a:hover {
	text-shadow: none;
}
#login-menu a.login {
	background-color: #448ccb;
}
#login-menu a.register {
	background-color: #00a651;
}
.panel-gap {
	margin-top: 150px;
}
.panel-heading {
	background-color: #448ccb;
	color: #FFF;
}
.panel-heading * {
	margin-top: 10px;
	font-weight: lighter;
	text-align: center;
}
.input-header {
	font-weight: lighter;
	color: #999;
	text-align: center;
	margin: 10px 0;
}


form.add-user {
	background-color: #282828;
	color: #FFF;
	padding: 15px;
	margin: -16px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 20px;
}
form.add-user input {
	margin-top: 5px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FFF;
	color: #fff;
	outline: none;
	box-shadow: none;
}