<!DOCTYPE html>
<html>
<head>
  <title>Odoru</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="odoru">

	<div ng-include="'nav/_nav.html'"></div>

	<div id="contents">
		<ui-view></ui-view>
	</div>

	<script type="text/ng-template" id="/projects.html">
		
	</script>

</body>
</html>
