<!DOCTYPE html>
<html>
<head>
  <title>Odoru</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="odoru">

	<div ng-include="'nav/_nav.html'"></div>

	<div id="contents">
		<ui-view></ui-view>
	</div>

	<script type="text/ng-template" id="/projects.html">
		
	</script>

</body>
</html>
